html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.custom-navbar {
  background: #ffffff;
  border-radius: 20px;
  padding: 0.7rem 1.2rem;
  margin: 20px auto;
  max-width: 1200px;

  /* Shadow = floating effect */
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.custom-navbar .nav-link {
  border-radius: 50px;
  padding: 5px 25px;
  font-weight: 500;
  background-color: aliceblue;
  margin-right: 10px;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
  background: #0d6efd;
  color: white;
}